{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumbs %}
	&rarr; <span>{{title}}</span>
{% endblock %}

{% block body %}
  <div class="mt-3 p-3 border">
    {{ form_label(form) }}
    {{ form_start(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
