{% extends 'base.html.twig' %}

{% block title %}Moje komentarze{% endblock %}      

{% block body %}
<div id="comments" class="border p-2">
   <h1 class="text-center border-bottom pb-3">Moje komentarze</h1>
   {% if comments is empty %}
         <div class = "text-center fw-bold">Tu jeszcze nic nie ma</div>
   {% else %}
         {% for comment in comments %}
            <div class = "comment mt-2">
               <div class = "d-flex">
                  <img class = "avatar" src="{{ asset('images/avatar.png') }}"/>
                  <div class = "ms-2">
                     <span>{{comment.post.category.name|capitalize}}: </span>
                     <a class = "fw-bold" href = {{path("post_show", {id: comment.post.id})}}>{{comment.post.title}}</a>
                     <div class = "">{{comment.date|date("d/m/Y h:i:s")}}</div>
                  </div>
               </div>

               <div class = "">{{comment.text}}</div>

               <div class = "links ms-5">
                  <a class="me-2" href = "">edytuj</a>
                  <a href = "{{path("comment_delete", {id: comment.id})}}">usuń</a>
               </div>
            </div>
         {% endfor %}
   {% endif %}
</div>
{% endblock %}