{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    &rarr; <a href = "{{path("topic_show", {id: post.topic.id})}}">{{post.topic.title}} </a> 
    &rarr; <a href = "#">{{post.title}}  </a> 
{% endblock %}

{% block body %}
  <div id="post_show">

    <div id = "post" class = "p-2 mb-3">
        <div class="title fw-bold text-center pb-1">{{post.title}}</div>
        <div class="date text-end fw-bold pe-2">{{post.date|date("d F Y, H:i:s")}}</div>
        <div class="text">{{post.text}}</div>
        <br>
        <div class="author"><span class = "fw-bold">Author:</span> {{post.user.email}}</div>
    </div>

      <div id="comments" class="border p-2">
         <div class = "fs-3 fw-bold ps-1 pb-2">Komentarze </div>
            {% if app.user %}
                <div class = "border-bottom">
                    {{form_start(form)}}
                    {{form_end(form)}}
                </div>
            {% endif %}
          <div class = "mt-2">
            {% if post.comments is empty %}
                <div class = "text-center fw-bold">Tu jeszcze nic nie ma</div>
            {% else %}
                {% for comment in post.comments %}
                    <div class = "comment mt-2">
                        <div class = "d-flex">
                            <img class = "avatar" src="{{ asset('images/avatar.png') }}"/>
                            <div class = "ms-2">
                                <div class = "fw-bold">{{comment.user.email}}</div>
                                <div class = "">{{comment.date|ago}}</div>
                            </div>
                        </div>
                        <div class = "">{{comment.text}}</div>
                        {% if app.user %}
                            {% if app.user.id == comment.user.id %}
                            <div class = "links ms-5">
                                <a class="me-2" href = "">edytuj</a>
                                <a href = "{{path("comment_delete", {id: comment.id})}}">usuń</a>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
          </div>
      </div>
  </div>
{% endblock %}
