{% extends 'base.html.twig' %}

{% block title %} {{title}} {% endblock %}

{% block breadcrumbs %}
	&rarr; <a href = "{{path("thread_show", {id: thread.id})}}"> {{ thread.name }}</a>
  &rarr; <span>{{title}}</span>
{% endblock %}

{% block body %}
  <div class="mt-3 p-3 border">
    {{ form_label(form) }}
    {{ form_start(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
