{% extends 'base.html.twig' %}

{% block title %}Moje tematy{% endblock %}      


{% block breadcrumbs %}
	&rarr;<span> Moje tematy</span>
{% endblock %}


{% block body %}
<div id="myTopics">
   <div class="banner py-2 ps-2 text-white">Moje tematy</div>
   {% if topics is empty %}
         <div class = "text-center fw-bold">Tu jeszcze nic nie ma</div>
   {% else %}
         {% for topic in topics %}
            <div class = "item py-2">
               <div class = "d-flex">
                  <img class = "avatar" src="{{ asset('images/avatar.png') }}"/>
                  <div class = "ms-2">
                     <a class = "fw-bold" href="{{path("thread_show", {id: topic.thread.id})}}">{{topic.thread.name}}</a> &rarr; 
                     <a href = "{{path("topic_show", {id: topic.id})}}" class = "fw-bold">{{topic.title}}</a>
                     <div class = "">{{topic.date|date("d F Y, H:i:s")}}</div>
                  </div>
               </div>

               <div class = "">{{topic.text}}</div>
            </div>
         {% endfor %}
   {% endif %}
</div>
{% endblock %}